body {
	position: relative;
}

.my-navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #242628;
    padding-right: 20%;
}

.my-navbar li {
    float: right;
}

.my-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.bio-nav:hover {
	background-color: #90daf0;
}

.tech-nav:hover {
	background-color: #90f092;
}

.music-nav:hover {
	background-color: #f0b790;
}

.food-nav:hover {
	background-color: #ac90f0;
}

.logo-section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 500px;
}

.ocean {
	position: absolute;
	background-image: url('../images/ocean.jpg');
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-size: cover;
  	background-size: cover;
	height: 500px;
}

.centertext-on-image {
	position: absolute;
	z-index: 10;
	left: 44%;
	top: 40%;
}

#logo {
	content: url('../images/logo.png');
	width: 200px;
}

#my-name {
	float: left;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 50px;
  	position: relative;
  	transform: translateY(50%);
  	color: white;
  	opacity: 0;
  	left: -300px;
	opacity: 0;
	display: none;
}

@keyframes nameslide {
	0% {
		left: -300px;
		opacity: 0;
	}
    100% { 
    	left: 0;
    	opacity: 1;
    }
}

@keyframes logoslide {
    100% { 
    	margin-left: 0px;
    }
}

.name-update {
	display: block !important;
	animation: nameslide 1.0s forwards;
}

.logo-update {
	animation: logoslide 1.0s forwards;
}

.info {
	position: absolute;
	height: 500px;
}

.info-inner {
	float: left;
	width: 25%;
	margin: 0 auto;
	padding-top: 80px;
}

.title {
/*	font-family: "Verdana", Geneva, sans-serif;
	font-size: 20px;*/
	text-align: center;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.info-image {
	width: 280px;
	height: 280px;
	border-radius: 50px;
	margin: 0 auto;
}

.bio {

}

.bio-image {
	content: url('../images/bio.jpg');
}

.tech {

}

.tech-image {
	content: url('../images/bio.jpg');
}

.food {

}

.food-image {
	content: url('../images/bio.jpg');
}

.music {

}

.music-image {
	content: url('../images/bio.jpg');
}



.outer {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
}

.block {
	width: 1000px;
	height: 600px;
	position: absolute;
	font-size: 50px;
	text-align: center;
}

.top-left {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
    left: -450px;
    top: -450px;
}

.top-right {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
    right: -450px;
    top: -450px;
}

.bottom-left {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
    left: -450px;
    bottom: -450px;
}

.bottom-right {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
    right: -450px;
    bottom: -450px;
}

.blue {
	background: #90daf0;
}

.green {
	background: #90f092;
}

.pink {
	background: #f0b790;
}

.purple {
	background: #ac90f0;
}