

/*
 *	Index Page
 */

	/*
	 * Navigation Bar Section
	 */

	 	.my-navbar {
		    background-color: #242628;
		    overflow: hidden;
	 	}

		.my-navbar ul {
		    list-style-type: none;
		    padding-right: 12%;
		}

		.my-navbar li {
		    float: right;
		}

		.my-navbar li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 30px;
		    text-decoration: none;
		    font-size: 18px;
		    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		    font-weight: 550;
		    letter-spacing: 2px;
		}

		.top-logo {
			position: absolute;
			content: url('../images/top-logo.png');
			float: left;
			width: 70px;
			height: 50px;
			margin-top: 18px;
			margin-left: 14%;
		}

		.bio-nav:hover {
			background-color: #90daf0;
		}

		.tech-nav:hover {
			background-color: #90f092;
		}

		.music-nav:hover {
			background-color: #f0b790;
		}

		.food-nav:hover {
			background-color: #ac90f0;
		}

		.nav-category:hover {
		    -webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}



	/*
	 * Footer Section
	 */

		.footer {
			background-color: #242628;
			text-align: center;
			position: relative;
	    	left: 0;
	    	bottom: 0;
	    	width: 100%;
	    	overflow: hidden;
	    	display: inline-block;
		}

		.footer-icons {
			display: inline-block;
			text-decoration: none;
		}

		.fa {
			background-color: #58965c;
			padding: 20px;
			border-radius: 50px;
			margin: 20px;
			margin-top: 50px;
			color: #ccc9c9;
		}

		.fa:hover {
			color: #242628;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.footer-link {
			text-decoration: none;
		}

		.footer-info {
			margin-top: 20px;
			font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			color: white;
			font-size: 15px;
			padding-bottom: 20px;
		}

	/*
	 * @media Adjustments
	 */

		@media (max-width: 840px) {
			.my-navbar {
		    	text-align: center;
		    	height: 60px;
			}

			.my-navbar ul {
				padding-right: 0%;
				display: inline-block;
			}

			.my-navbar li {
				float: left;
				width: 80px;
				margin: 0 auto;
			}

			.my-navbar li a {
				padding: 0px;
			    padding-top: 20px;
			    padding-bottom: 20px;
			    font-size: 14px;
			    font-weight: 400;
			    margin: 0 auto;
			}

			.top-logo {
				display: none;
			}
		}

		@media (max-width: 530px) {
			.my-navbar {
		    	text-align: center;
			}

			.my-navbar ul {
				display: inline-block;
			}

			.my-navbar li {
				width: 55px;
			}

			.my-navbar li a {
			    padding-top: 20px;
			    padding-bottom: 20px;
			    font-size: 14px;
			    font-weight: 400;
			}

			.fa {
				padding: 15px;
				border-radius: 50px;
				margin: 5px;
				margin-top: 50px;
			}


		}


/*
 *	Main Page
 */


	/*
	 * Ocean Image Section
	 */

		.logo-section {
			position: relative;
			width: 100%;
			height: 500px;
		}

		.logo-background {
			position: relative;
			background-image: url('../images/ocean.jpg');
			width: 100%;
			background-repeat: no-repeat;
			background-size: 100%;
			-webkit-background-size: cover;
		  	background-size: cover;
			height: 500px;
		}

		.centertext-on-image {
			position: absolute;
			z-index: 10;
			left: 40%;
			top: 40%;
		}

		#logo {
			float: left;
			content: url('../images/logo.png');
			width: 200px;
			margin-left: 0px;
		}

		#my-name {
			float: left;
			font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			font-size: 50px;
		  	position: relative;
		  	transform: translateY(50%);
		  	color: white;
		  	opacity: 0;
		}

		@keyframes nameslide {
			0% {
				left: -300px;
				opacity: 0;
			}
		    100% {
		    	left: 10px;
		    	opacity: 1;
		    }
		}

		@keyframes logoslide {
		    100% { 
		    	margin-left: -140px;
		    }
		}

		.name-update {
			animation: nameslide 1.0s forwards;
		}

		.logo-update {
			animation: logoslide 1.0s forwards;
		}

	/*
	 * Info Section
	 */

		.info {
			position: relative;
			width: 75%;
			margin-left: 12.5%;
			margin-right: 12.5%;
			margin-top: 80px;
			margin-bottom: 80px;
		}

		.info-inner {
			float: left;
			width: 25%;
		}

		.title {
			text-align: center;
			font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			font-size: 24px;
			font-style: normal;
			font-variant: normal;
		}

		.info-image {
			width: 150px;
			height: 150px;
			border-radius: 200px;
			margin: 0 auto;
			margin-top: 15px;
			border-style: solid;
			border-width: 10px;
			opacity: 0.7;
			margin-bottom: 100px;
		}

		.info-image:hover {
			opacity: 1;
		}

		.bio-image {
			content: url('../images/bio.jpg');
			border-color: #579389;
		}

		.tech-image {
			content: url('../images/poopjava.png');
			border-color: #58965c;
		}

		.music-image {
			content: url('../images/bio.jpg');
			border-color: #85548e;
		}

		.food-image {
			content: url('../images/food.png');
			border-color: #897652;
		}

	/*
	 * @media Adjustments
	 */

		@media (max-width: 840px) {
			.centertext-on-image {
				left: 34%;
			}

			#logo {
				float: left;
				content: url('../images/logo.png');
				width: 200px;
				margin-left: 0px;
			}

			@keyframes nameslide {
				0% {
					left: -40px;
					opacity: 0;
				}
				38% {
					opacity: 0.1;
				}
			    100% {
					left: -30px;
			    	opacity: 1;
			    }
			}

			@keyframes logoslide {
			    100% { 
			    	margin-left: -120px;
			    }
			}

			.info-inner {
				float: none;
				width: 100%;
				padding-bottom: 25px;
			}
		}

		@media (max-width: 530px) {
			.centertext-on-image {
				left: 30%;
			}

			#logo {
				width: 150px;
			}

			#my-name {
				display: none;
			}

			@keyframes logoslide {
			    100% { 
			    	margin-left: 0px;
			    }
			}
		}

/*
 *	Bio Page
 */

 	.bio-section {
		margin: 50px auto;
		max-width: 90%;
		overflow: hidden;
	}

	.bio-photo {
		width: 300px;
		height: 420px;
		float: right;
		content: url('../images/selfie2.png');
		shape-outside: url(../images/selfie2.png);
		shape-image-threshold: 0.5;
		-webkit-shape-margin: 1em;
		shape-margin: 1em;
	}

	.bio-title {
		font-size: 25px;
	    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	    font-weight: 550;
	}

	.bio-paragraph {
		font-size: 14px;
	    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		padding-top: 15px;
		font-weight: 500;
	}

	.bio-paragraph ul {
		list-style-type: circle;
	}