<div class="bio-section">
	<div class="bio-photo"></div>
	<div class="bio-title">Nami Kim</div>
	<div class="bio-paragraph">
		<ul>
			<li> My name is Nami, tsunami without the tsu. I got the name from Harvest Moon/One Piece.
			<li> I recently graduated from McGill University with a Bachelor's Degree in Software Engineering.
			<li> I currently have a summer research position at McGill University Health Clinic (MUHC) on waiting time estimates for oncology patients using machine learning methods.
			<li> I'm looking for a full-time developer position, so if you'd like to know more about my technical background, here's my CV! Please hire me.
			<li> I was born in Seoul, South Korea on January 1st, 1994.
			<li> I like being physically active (or try to). I've been weight training for 6-7 months, some days more consistently than others. I've started dragonboating, and I bike between work and school/home.
			<li> I like games, mostly League of Legends and board games with friends.
			<li> I can make fart noises with my ears.
		</ul>
	</div>
</div>