<div class="bio-section">
	<div class="bio-photo"></div>
	<div class="bio-title">Nami Kim</div>
	<div class="bio-paragraph">
		<ul>
			<li> I recently graduated from McGill University with a Bachelor's Degree in Software Engineering. </li>
			<li> I currently have a summer research position at McGill University Health Clinic (MUHC) on waiting time estimates for oncology patients using machine learning methods. </li>
			<li> I'm looking for a full-time developer position, so if you'd like to know more about my technical background, <a href="../misc/doyeonkim_resume.pdf">here's my resume</a>! Please hire me. </li>
			<li> I was born in Seoul, South Korea on January 1st, 1994. </li>
			<li> I like being physically active (or try to). I've been weight training for 6-7 months, some days more consistently than others. I've started dragonboating, and I bike between work and school/home. </li>
			<li> I like games, mostly League of Legends and board games with friends. </li>
			<li> I either have a really bad memory or am really good at filtering out things I deem not worth remembering. </li>
		</ul>
		Bucket List:
		<ul>
			<li> Learn Latin, Swing and K-Pop dances </li>
			<li> Learn piano and guitar </li>
			<li> Backpack travelling </li>
			<li> Find a boyfriend </li>
			<li> Learn to make toum </li>
		</ul>
	</div>
</div>