<!-- Author: DoYeon (Nami) Kim -->

<!-- 
	List of cities on the left, on the right are latest 3 food articles from the corresponding city.

	Click on an article (whether it be from the cities page or a single city page), everything slides to the left, and the article slides in at the same time. There is a button to go back and the reverse sliding brings back whatever page it was before.
-->
<div class="food-section">
	<div class="cities"  ng-class="{ 'cities-closed' : vm.cityLoaded || vm.articleOpen }">
		<div ng-repeat="city in vm.cities" class="city">
			<div class="city-image-outer">
				<div class="city-gradient-overlay" style="background-image: url({{city.image}})"></div>
				<span class="city-title">{{city.name}}</span>
				<span class="city-plus-icon" ng-click="vm.loadCity(city.name)"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
			</div>
			<div ng-repeat="article in vm.getThreeLatestArticles(city.name)" class="city-top-articles" ng-click="vm.loadArticle(article)">
				<div class="food-article-gradient-overlay" style="background-image: url({{article.image}})"></div>
				<span class="food-article-title">{{article.title}}</span>
				<span class="food-article-synopsis">{{article.synopsis}}</span>
				<div class="food-article-tags">
					<div class="food-article-tag" ng-repeat="tag in article.tags">{{tag}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="food-city-section" ng-class="{ 'food-city-section-open' : vm.cityLoaded }">
		<div class="food-city-inner">
			<div class="food-city-header">
				<div class="food-city-image" style="background-image: url({{vm.city.image}})"></div>
				<span class="food-city-title">{{vm.city.name}}</span>
			</div>
			<div ng-repeat="article in vm.articles" class="food-city-article" ng-click="vm.loadArticle(article)">
				<div class="food-city-article-image" style="background-image: url({{article.image}})"></div>
				<div class="food-city-article-body">
					<div class="food-city-article-title">{{article.title}}</div>
					<div class="food-city-article-synopsis">{{article.synopsis}}</div>
					<div class="food-city-article-tags">
						<div class="food-article-tag" ng-repeat="tag in article.tags">{{tag}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="article article-slider" ng-class="{ 'article-slider-open' : vm.articleOpen }">
		<div class="article-inner" markdown-to-html="vm.md"></div>
		<div id="gmap_canvas"></div>
	</div>

	<div>
		<button class="back-button" ng-click="vm.goBack()" ng-if="vm.cityLoaded || vm.articleOpen">Back To {{vm.previousPage}}</button>
	</div>
</div>

