<div class="food-section">
	<div class="cities" ng-class="{ 'cities-closed' : vm.cityLoaded || vm.articleOpen }">
		<div ng-repeat="city in vm.cities" class="city">
			<div class="city-image-outer">
				<div class="city-gradient-overlay" style="background-image: url({{city.image}})"></div>
				<span class="city-title">{{city.name}}</span>
				<span class="city-plus-icon" ng-click="vm.goToCity(city)"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
			</div>
			<div ng-repeat="article in vm.getThreeLatestArticles(city.name)" class="city-top-articles" ng-click="vm.goToArticle(article)">
				<div class="food-article-gradient-overlay" style="background-image: url({{article.image}})"></div>
				<span class="food-article-title">{{article.title}}</span>
				<span class="food-article-synopsis">{{article.synopsis}}</span>
				<div class="food-article-tags">
					<div class="food-article-tag" ng-repeat="tag in article.tags">{{tag}}</div>
				</div>
			</div>
		</div>
	</div>
	<div ui-view></div>
</div>