<!-- Author: DoYeon (Nami) Kim -->

<div class="logo-section">
	<div class="logo-background"></div>
	<div class="centertext-on-image">
		<div id="logo" ng-mouseover="updateLogoCSS()"></div>
		<div id="my-name">DoYeon Kim</div>
	</div>
	<div class="short-bio"></div>
</div>

<div class="info">
	<div class="info-inner bio">
		<div class="title curved">About Nami</div>
		<div class="info-image bio-image"></div>
	</div>
	<div class="info-inner tech">
		<div class="title curved">All Things Tech</div>
		<div class="info-image tech-image"></div>
	</div>
	<div class="info-inner music">
		<div class="title curved">My Music</div>
		<div class="info-image music-image"></div>
	</div>
	<div class="info-inner food">
		<div class="title curved">Eatery Reviews</div>
		<div class="info-image food-image"></div>
	</div>
</div>