<!-- Author: DoYeon (Nami) Kim -->
<div class="tech-section" ng-controller="TechController as vm">
	<div class="overview">
		<div ng-repeat="article in vm.articles">
			<div ng-click="vm.loadArticle(article.filename)" in-view="$inview && vm.makeVisible()" class="overview-box">
				<div class="article-title">{{article.title}}</div>
			</div>
		</div>
	</div>
	<div class="article">
		<div class="article-inner" markdown-to-html="vm.md"></div>

		<!-- Boxes for each blog post, blog article slides down when one is clicked. back button will slide the article back up and show the boxes again -->
	</div>
</div>